In [ ]:
# Installation
## Other IDEs and stuff for python

In [12]:
# Variables
## Different data types: string, float, int, boolean
## Assignment statements
car = "Honda Civic"
gas = 13.2
year = 2013
isCar = True

In [16]:
# String manipulation
## .upper(), .lower(), indices
car.lower()
car[0:100:2]

'HnaCvc'

In [23]:
# Integer arithmetic
a = 3
b = 2
a % b

1

In [34]:
# Lists
## List methods
a = ["1jkhwek", "22kj1", "3"]
a[:2]
a.append("food")
a
a.insert(1, "more food")
a

['1jkhwek', 'more food', '22kj1', '3', 'food']

In [36]:
# Tuples
b = (1, 2, 3)
b[1]

2

In [39]:
# Functions
## Scope
def add1(x, x1):
    return x + x1

add1(35, 35)

70

In [41]:
# If/Else
def oddEvenAdd(x):
    if x % 3 == 0:
        return x + 2
    else if x % 2 == 1:
        return x + 3
    else: 
        return x + 1

print(oddEvenAdd(1))
print(oddEvenAdd(2))

2
4

In [45]:
# Dictionaries
d = dict()
d["cat"] = 'a very cute animal that has four legs'
d[2] = 'B'
d[3] = 'C'

d['cat']

'a very cute animal that has four legs'

In [49]:
# For/While
# Nested logic
def f():
    answer = ""
    for number in range(101):
        if number % 2 == 0:
            answer += str(number)
    return answer

def g():
    counter = 0
    number = 0
    while (number <= 100):
        counter += number
        number += 1
    return counter

print(g())

5050

In [52]:
# List comprehesions
l = [x for x in range(101) if x % 2 == 0]
l

[0,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98,
 100]

In [ ]:
# Recursion

In [54]:
# NUMPY
# good for arrays, vectors, linear algebra (the math of DS/ML is really in )
import numpy as np
a = np.array([0,1,2])
a

array([0, 1, 2])

In [55]:
# creating arrays
b = np.array([i for i in range(50)])
b

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
       34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49])

In [63]:
# array indices and slices (and mixing it all!)
c = np.array([[0, 1], [2, 3]])
c[:, 1]

array([1, 3])

In [ ]:
# shapes/reshapes

In [66]:
# iterations (nditer for easy)

SyntaxError: invalid syntax (3355591177.py, line 2)

In [80]:
# stack/concat/split
a = np.array([[0, 1]])
b = np.array([[2, 3]])
np.concatenate((a, b), axis=1)

array([[0, 1, 2, 3]])

In [83]:
c = np.array([[0, 1], [2, 3]])
c.T

array([[0, 2],
       [1, 3]])