# Data Manipulation

Lecture 2 | February 19, 2020

<b>NetID:</b>

____

## Introduction to Pandas

Pandas is a primary data analysis library in Python. It offers a number of operations to aid in data exploration, cleaning and transformation, making it one of the most popular data science tools. To name a few examples of these operations, Pandas enables various methods to handle missing data and data pivoting, easy data sorting and description capabilities, fast generation of data plots, and Boolean indexing for fast image processing and other masking operations.

Some of the key features of Pandas are:
<ul>
<li>Ingestion and manipulation of heterogeneous data types
<li>Generating descriptive statistics on data to support exploration and communication
<li>Data cleaning using built in pandas functions
<li>Frequent data operations for subsetting, filtering, insertion, deletion and aggregation of data
<li>Merging and joining multiple datasets using dataframes
<li>Working with timestamps and time-series data
<li>Pandas also builds upon numpy and other Python packages to provide easy-to-use data structures and data manipulation functions with integrated indexing.
</ul>
**Additional Recommended Resources:**
<ul>
<li>Pandas Documentation
<li>Python for Data Analysis by Wes McKinney
<li>Python Data Science Handbook by Jake VanderPlas
</ul>

In [ ]:
import pandas as pd
import numpy as np

### Series
A Pandas `Series` is a one-dimensional `ndarray` (Remember what an `ndarray` is?). We can create a `series` simply by passing a list of values.

In [ ]:
first_series = pd.Series([10, 20, 30, 40])
print(first_series)

The values don't necessarily need to be of integer type!

In [ ]:
second_series = pd.Series(['lorem', 'ipsum'])
print(second_series)

### DataFrames
It's a two-dimensional tabular data structure in `Pandas` which helps in managing data in an orderly manner. The following are some key features of a  `Pandas DataFrame`:
<ul>
    <li>It has labelled axes
    <li>It's size is mutable
    <li>The columns may be of different datatypes
</ul>
An easy way to create a `DataFrame` is by passing a dictionary of objects.

In [ ]:
df = pd.DataFrame({
                    'col1': pd.Series([10, 20, 30]),
                    'col2': 'hello world',
                    'col3': pd.Timestamp('20180101')
                   })
df

In [ ]:
multBy2=[x*2 for x in range(0,10)]
squared=[x**2 for x in range(0,10)]

df = pd.DataFrame({
                    'multiplyBy2': multBy2,
                    'squared': squared
                   })
df

## Playing with DataFrames
`DataFrames` can also be created from pre-saved tables! A very common format for saving such tables is the .csv (which stands for comma-separated values) format.

<b>Reading `DataFrames`</b>

In [ ]:
df=pd.read_csv('lecture2data.csv') #Titanic Dataset

##### A Quick Side Note
If you are interested in the dataset, or interested in exploring other datasets in your free time, here's where we got this datasets from: https://www.kaggle.com/c/titanic

Kaggle is a online community which actively uploads datasets, hosts data science competitions, and overall a beginner-friendly place to learn about data science. They also offer a no-setup, online Jupyter Notebook environment for you to play around with their datasets. You don't need to download or setup anything - just create an account, and start exploring! 

If you're interested in seeing what an end-to-end data science project looks like, you can check out some of the data science projects other users have done on the datasets; just go to any dataset under "Datasets", click "Kernel", and you can follow along what other more experienced users have explored and posted on that dataset!

Back to the lecture material:

<b>Viewing `DataFrames`</b>

In [ ]:
# Check the columns in your dataframe
df.columns

An excellent way to peek at the first/last few rows of your `DataFrame` is the `head()` and `tail()` functions. Let's try them out:

In [ ]:
df.head(3) #df.tail() to see last few rows

In [ ]:
df['Age'].tail(5)#To get a specific column

#### Filtering Dataframe

In [ ]:
# Filtering
FareAbove20_OlderThan40=df.loc[(df['Fare']>20) & (df['Age']>40)]
FareAbove20_OlderThan40.head(10)

`.loc` is a useful function, but is often confused with `.iloc`. Check out this <a href="https://stackoverflow.com/questions/31593201/how-are-iloc-ix-and-loc-different">Stack Overflow Post</a> to clarify the concept.

#### Concatenating Dataframes

In [ ]:
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                    'B': ['B0', 'B1', 'B2', 'B3'],
                    'C': ['C0', 'C1', 'C2', 'C3'],
                    'D': ['D0', 'D1', 'D2', 'D3']})
df1

In [ ]:
df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
                    'B': ['B4', 'B5', 'B6', 'B7'],
                    'C': ['C4', 'C5', 'C6', 'C7'],
                    'D': ['D4', 'D5', 'D6', 'D7']})
df2

In [ ]:
pd.concat([df1,df2])

<b>Summary Statistics</b>

We can check the statistics for individual columns by referring to the said column.

In [ ]:
df['Fare'].mean()

In [ ]:
df['Fare'].median()

In [ ]:
df['Cabin'].mode().iloc[0]

A much easier way to skim through the statistics for all the columns, however, is by using the `describe()` function.

In [ ]:
df.describe()

## Example 1:
### A. Create a dataset, using the filtering technique, that includes only male survivors of the titanic and store it in a variable called 'male_survivors'.

### B. Then determine the mean age of all these people and store them in a variable called 'mean_age_male_survivors'.

## Data Imputation

In [ ]:
df.head(4)

In [ ]:
df['Cabin']=df['Cabin'].fillna('Top Deck')

In [ ]:
df.head(3)

In [ ]:
#Dummy Encoding
df['male']=0
df['female']=0
for x in range(0,len(df)):
    if df['Sex'][x]=='male':
        df['male'][x]=1
    else:
        df['female'][x]=1

In [ ]:
df

## Example 2: Impute the values that are NaN for the Fare column with the mean

In [ ]:
df.head(5)

### But WAIT!

How do you know what data to impute in any case? Here's a quick, high-level comparison of the different ways you can fill up missing data, along with their respective pros and cons: https://towardsdatascience.com/6-different-ways-to-compensate-for-missing-values-data-imputation-with-examples-6022d9ca0779

You can try implementing the first three examples on your free time - the materials covered in this lecture should give you enough information on how to implement them! The fourth example we will actually cover in a later class, but feel free to also explore the source code provided under the github links.

## Example 3: There are several rows with nan values for the age.
### First fill all the nan values with the mean age of the passengers. Then create a new dummy variable/column named 'child' to the dataframe and insert a 1 or a 0 in each row (1 for child/under_18, 0 for non-child/18_or_older).

### Parting Fun Facts:

If you really like the resulting data frame you produced, and want to download it into a file to share with all your friends and family, you can do that! `to_csv()` or `to_excel()` allows you to save the dataframe locally.

Congrats on finishing your second assignment, see you next week!

____