# Introduction: Fundamentals of Python and Numpy

Lecture 1 | February 12, 2020

<b>NetID</b>:

___

## The Basics

In [ ]:
# This is a comment

In [ ]:
# Creating Variables
var1 = 'Hello World'

In [ ]:
# You can print in Jupyter Notebooks without a print statement.
var1

In [ ]:
# Or with one if it is not the last line
print(var1)

In [ ]:
# Lets talk about lists
list1=[0,1,2,3,4,5,6,7,8,9]

In [ ]:
print('fifth index', list1[5])

print("4 Through 7", list1[4:8])

print("Before", list1)

list1.append(10)

print("After", list1)

In [ ]:
# for loops and if statments are made very easy in python, just follow this example
newArray = [1,2,3,4,5,6,7,8,9]
for x in newArray:
    if x%2 == 0:
        print(x,'is even')
    else:
        print(x,'is odd')

In [ ]:
# list comprehention is a little more difficult and isn't necessary, but if you know how to do it, it saves time
allEven=[x for x in range(0,100) if x%2==0]
print(allEven)

____

## Example 1: Put all the multiples of 15 from 1 to 1000 in a list (Save it as a variable called 'multiples_15'):

In [ ]:
# The above examples should be helpful in solving this question! Ask a TA for help if you're stuck.

multiples_15 = []
# YOUR CODE HERE - The most common solution would have 3 lines!
        
print(multiples_15)

___

## Introduction to Numpy

In [ ]:
# Importing Numpy
import numpy as np

In [ ]:
arr1 = np.array([1,2,3]) #seperate with commas

In [ ]:
print(arr1)

In [ ]:
arr2=np.array([[1,2,3],[4,5,6]]) #2d array

In [ ]:
print(arr2)

In [ ]:
arr2.shape #get the shape of the array

### Different Ways to Create numpy arrays

In the code below, we create a number of different sized arrays with different shapes and values.  Numpy has some built in methods (listed below) which help us quickly and easily create multidimensional arrays with pre-filled values.

**np.zeros((dimensions))** creates an array of zeros with the specified dimensions

**np.full((dimensions), value)** creates an array with the specified dimensions where every element is the specified value

**np.random.random(dimensions)** generates an array of random floating-point values between 0 and 1

In [ ]:
# create a 3x4 array of zeros
ex1 = np.zeros((3, 4))      
print(ex1)

In [ ]:
# create a 2x3 array filled with 9.0
ex2 = np.full((2,3), 9.0)  
print(ex2)

In [ ]:
# create a 2x3 array of random floating-point numbers between 0 and 1
ex3 = np.random.random((2,3))
print(ex3)

In [ ]:
ex3[0] #this first index if the first row

In [ ]:
ex4=np.random.randint(1,10,(5,10)) #(low,high-exclusive,shape)
print(ex4)

In [ ]:
ex4[2]

In [ ]:
np.median(ex4[1])

___

### Mathematical Operations

In [ ]:
arr1 = np.array([2,4,6,8,10])

In [ ]:
print(arr1)

In [ ]:
print(np.sqrt(arr1))

In [ ]:
np.max(arr1)

In [ ]:
np.min(arr1)

In [ ]:
np.median(arr1)

In [ ]:
np.std(arr1)

In [ ]:
arr1+1

In [ ]:
arr1*2

In [ ]:
print(arr1[2:])

In [ ]:
np.unique(np.array([1,1,1,1,2]))

In [ ]:
arr2=np.array([3,6,9,12,15])

In [ ]:
np.add(arr1,arr2)

In [ ]:
arr1+arr2

In [ ]:
arr1.dot(arr2)

In [ ]:
np.sum(arr1)

___

## Example 2: Create an random integer array with a min of 1, max of 10, and shape of (20,10) so 20 rows and 10 columns. Then for each row, sum the random integers and add all the sums to a list called 'random_sums'.

In [ ]:
randArray= # YOUR CODE HERE
random_sums=[]
# YOUR CODE HERE
print(random_sums)

___

## Sets

In [ ]:
arr1=np.array([x for x in range(0,50) if x%5 > 2])
arr2=np.array([x for x in range(0,50) if x%7 > 3])

print('array 1:', arr1)
print('array 2:', arr2)

In [ ]:
union = np.union1d(arr1, arr2) #in either arr1 or arr2
print('union:', union)

In [ ]:
intersect = np.intersect1d(arr1, arr2) #in both arr1 and arr2
print('intersect:', intersect)

## Reshaping

In [ ]:
arr1=np.array([[1,2,3,4],[5,6,7,8],[9,10,11,12]])
print(arr1)

In [ ]:
arr1.reshape(2, -1) #first number is the number of rows, -1 automatically selects the number that works

In [ ]:
np.transpose(arr1) #switches the axis

____

## Example 3: Find the numbers that are in both 'multiples_15' and 'random_sums' and put them in an array called 'both'.

In [ ]:
# YOUR CODE HERE - The most common solution would have just 1 line!
print(both)

____

<b>Final Note</b>: We know that you might not have any experience in Python or Computer Science/Math in general, and that's completely fine. Don't be intimidated - this is a part of the process! Please come to office hours, and one of the instructors would give you a crash course. Additionally, we plan to host a Python workshop soon so that you can bridge the gap, if any. If you still feel underprepared, please come talk to one of the instructors - we will work it out.